#OwOButton {
  position: fixed;
  bottom: 0px;
  left:50%;
  right:50%;
  height:40px;
  width:150px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-transition-property: opcaity; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: opcaity;
  transition-duration: 2s;
  /* !important */
}
#OwOButton {
  z-index:9;
  opacity: 1;
  position: fixed;
  bottom: 0px;
  left:50%;
  right:50%;
  !important
}
#hiddenOwOButton {
  -webkit-transition-property: opcaity; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: opcaity;
  transition-duration: 2s;
  position: fixed;
  bottom: 0px;
  left:50%;
  right:50%;
  height:40px;
  width:150px;
  background-color: #444444; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  /* -webkit-transition-property: opcaity; /* Safari */
  /* -webkit-transition-duration: 2s; /* Safari */
  /* transition-property: opcaity; */
  /* transition-duration: 2s; */
  /* opacity: 0; */
}
#hiddenOwOButton {
  z-index:9;
  opacity: 1;
  position: fixed;
  bottom: 0px;
  left:50%;
  right:50%;
  /* opacity: 0; */
}
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification:hover {
  background: red;
}
.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
